.input {
  padding-top: 1rem;
  display: flex;
}

.input input {
  flex: 1;
  font-size: 1.25rem;
  outline: none;
  border: none;
  border-bottom: 1px solid #cccccc;
}

.create-button {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background: #000000;
  border-radius: 3px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  margin-left: 1rem;
}

.create-button:hover {
  opacity: 0.75;
}
