.template {
  background: white;
  margin: 0 auto 1rem;
}

.title {
  padding: 2rem;
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold;
  background: #000000;
  color: white;
}

.menu-item {
  padding: 1rem;
  cursor: pointer;
  transition: all 0.15s;
  user-select: none;
  background: #000000;
  color: white;
}

.menu-item:hover {
  opacity: 0.75;
}
